import os
import logging

API_TOKEN = '1234567897:Your-API-token'
cwd = os.getcwd()
WEBHOOK_SSL_CERT = cwd + '/fullchain.pem'
WEBHOOK_SSL_PRIV = cwd + '/privkey.pem'
WEBHOOK_LISTEN = "85.143.219.78"
WEBHOOK_PORT = 8443
WEBHOOK_URL_PATH = "/%s/" % (API_TOKEN)
#WEBHOOK_URL_PATH = '/'

cherrypy_conf = {
    'server.socket_host': WEBHOOK_LISTEN,
    'server.socket_port': WEBHOOK_PORT,
    'server.ssl_module': 'builtin',
    'server.ssl_certificate': WEBHOOK_SSL_CERT,
    'server.ssl_private_key': WEBHOOK_SSL_PRIV
}

# set LOGLEVEL to INFO to reduce logging data
# set LOGLEVEL to DEBUG and VERBOSE True to view detailed data
LOGLEVEL = logging.DEBUG
VERBOSE = True
LOGTOFILE = True
admin_id = 0  # tg user id
DBNAME = cwd + '/../wikipeople.sqlite'
