import logging

API_TOKEN = '1234567897:tg-token'

WEBHOOK_HOST = "127.0.0.1"
WEBHOOK_PORT = 7655
# WEBHOOK_URL_PATH = "/%s/" % API_TOKEN
WEBHOOK_URL_PATH = '/'
WEBHOOK_URL = 'https://conggratz.ru:443/OrangeKCG/'

# set LOGLEVEL to INFO to reduce logging data
# set LOGLEVEL to DEBUG and VERBOSE True to view detailed data
LOGLEVEL = logging.DEBUG
VERBOSE = True
LOGTOFILE = True

admin_id = 392811983  # tg user id

DBNAME = 'conggratz'
DBUSER = 'congbot'
